@import "./fonts";
@import "./variables";
@import "./global";
@import "./mixin";

@import "./layout/header";
@import "./layout/footer";
@import "./pages/home/block";
@import "./pages/about/block";
@import "./pages/service/block";
@import "./pages/news/block";
@import "./pages/contact/block";
