.header {
    padding-bottom: 102px;
}


.header_top_list {
    align-items: center;
    gap: 100px;
    justify-content: end;
    display: none;
}

.header_top_address {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 10px;
    color: #1a1a1a;
    position: relative;

    &::before {
        content: "";
        width: 15px;
        height: 15px;
        display: inline-block;
        background-image: url(../../img/location.svg);
        position: absolute;
        left: -22px;
    }

}

.header_top_number {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 10px;
    color: #1a1a1a;
    position: relative;

    &::before {
        content: "";
        width: 15px;
        height: 15px;
        display: inline-block;
        background-image: url(../../img/phone.svg);
        position: absolute;
        left: -22px;
    }
}

.header_bottom {
    background-color: #E37705;
    padding-top: 16px;
    padding-bottom: 16px;
}

.header_block {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.header_logo_link {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 25px;
    line-height: 155%;
    color: #fff;
}

.header_bottom_list {
    align-items: center;
    gap: 68px;
    display: none;
}


.header_bottom_link {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    color: #fff;
}

.header_bottom_btn {
    border-radius: 6px;
    background-color: #fff;
    padding: 10px 28px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 13px;
    color: #dc7000;
}


@media screen and (min-width: 992px) {
    .header{
        padding-top: 8px;
    }
    
    .header_top {
        padding-bottom: 9px;
    }

    .header_mobile_block{
        display: none;
    }

    .header_top_list{
        display: flex;
    }

    .header_bottom_list{
        display: flex;
    }
}